<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-info">
            <h5 class="primary">Change Password</h5>
        </div>
        <div class="card-body">
            <!-- <div class="form-control" >
               
                <input type="text" placeholder="Old Password" [(ngModel)]="oldPassword" minlength="5">
            </div> -->
            <div class="form-control" >
                
                <input type="text" placeholder="New Password" [(ngModel)]="newPassword" minlength="5">
            </div>
            <div class="form-control" >
                
                <input type="text" placeholder="Confirm Password" [(ngModel)]="confirmNewPassword" minlength="5">
            </div>
            <div class="form-control">
                <button class=" btn btn-primary align-center" (click)="savePassword()">Save</button>
            </div>
            
        </div>
    </div>
</div>