
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
        Account Summary
    </a>
    <a href="/fundstransfer" class="list-group-item list-group-item-action " >Payments/Transfers</a>
    <a href="/requestchequebook" class="list-group-item list-group-item-action" data-bs-toggle="list" role="tab">Request Chequebook</a>
    <a href="estatement" class="list-group-item list-group-item-action" aria-current="true" data-bs-toggle="list" role="tab">e-statement</a>
    <a href="#" class="list-group-item list-group-item-action" data-bs-toggle="list" role="tab">Know Your CIBIL Score</a>
    <a class="list-group-item list-group-item-action " href="rewards" data-bs-toggle="list" role="tab">ICIN Rewardz</a>
    <a href="changepassword" class="list-group-item list-group-item-action" data-bs-toggle="list" role="tab">Change Password</a>
  </div>
  